@model Product // strong type 

<h1>Thông tin sản phẩm</h1>
<p>Id: @Model.Id</p>
<p>Tên: @Model.Name</p>
<p>Giá: @Model.Price</p>
<p>Nhà tài trợ: @Model.Supplier</p>
<p>Mô tả: @Model.Description</p>
<p>Trạng thái: @Model.Status</p>
<p>Số lượng tồn: @Model.AvailableQuantity</p>